<h1><%= @project.name %></h1>

<ul>
	<% @entries.each do |entry| %>
		<li>
			<%= link_to  "Edit", edit_project_time_entry_path(@project, entry) %> - 
			<%= link_to 'Delete', project_time_entry_path(@project, entry), method: :delete, data: {confirm: 'Are you sure?'} %>
			<%= entry.hours %>h <%= entry.minutes %>m - Date: 
			<% if entry.date != nil %>
				<%= entry.date.to_date %>
			<% end %>
		</li>
	<% end %>
</ul>