<div>
	



</div>

<div style="display:block">
	
	<form style="display:inline" action="/answer/<%= @movies[0].release_date %>" method="POST">
		<button type="submit"><img src=<%= @movies[0].poster %> height="200" width="160"></button>
	</form>

	<form style="display:inline" action="/answer/<%= @movies[1].release_date%>" method="POST">
		<button type="submit"><img src=<%= @movies[1].poster %> height="200" width="160"></button>
	</form>
		
	<form style="display:inline" action="/answer/<%= @movies[2].release_date%>" method="POST">
	<button type="submit"><img src=<%= @movies[2].poster %> height="200" width="160"></button> 
	</form> <br>

	<form style="display:inline" action="/answer/<%= @movies[3].release_date%>" method="POST">
	<button type="submit"><img src=<%= @movies[3].poster %> height="200" width="160"></button>
	</form>

	<form style="display:inline" action="/answer/<%= @movies[4].release_date%>" method="POST">
	<button type="submit"><img src=<%= @movies[4].poster %> height="200" width="160"></button>
	</form>

	<form style="display:inline" action="/answer/<%= @movies[5].release_date%>" method="POST">
	<button type="submit"><img src=<%= @movies[5].poster %> height="200" width="160"></button>
	</form> <br>

	<form style="display:inline" action="/answer/<%= @movies[6].release_date%>" method="POST">
	<button type="submit"><img src=<%= @movies[6].poster %> height="200" width="160"></button>
	</form>

	<form style="display:inline" action="/answer/<%= @movies[7].release_date%>" method="POST">
	<button type="submit"><img src=<%= @movies[7].poster %> height="200" width="160"></button>
	</form>

	<form style="display:inline" action="/answer/<%= @movies[8].release_date%>" method="POST">
	<button type="submit"><img src=<%= @movies[8].poster %> height="200" width="160"></button>
	</form>

</div>